{% load static %}
<footer>
        <div class="footer-wrappr " data-background="{% static 'img/gallery/footer-bg.png'%}">
            <div class="footer-area footer-padding ">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <!-- logo -->
                                <div class="footer-logo mb-25">
                                    <a href="index.html"><img src="{% static 'img/logo/logo2_footer.png' %}" alt=""></a>
                                </div>
                                <div class="footer-tittle mb-50">
                                    <p>소프트웨어학과 학생회 SNS 서비스</p>
                                </div>
                                <!-- social -->
                                <!--fontawesome-all.min.css 에 social media service 만듦-->
                                <div class="footer-social mt-50">
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <!--style.css 에 "fa-kakao-circle" hover 이벤트 정의해 놓음-->
                                    <a href="https://bit.ly/sai4ull" class="fa-kakao-circle"><i class="fab fa-kakao">K</i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>학부 관련 사이트</h4>
                                    <ul>
                                        <li><a href="https://www.chungbuk.ac.kr/site/www/main.do">충북대학교</a></li>
                                        <li><a href="https://ece.cbnu.ac.kr/">전자정보대학교</a></li>
                                        <li><a href="https://software.cbnu.ac.kr/">소프트웨어학과</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>사이트 정보</h4>
                                    <ul>
                                        <li><a href="#">사이트 유지 및 관리</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>개인정보 관련</h4>
                                    <ul>
                                        <li><a href="#">개인정보 처리방침</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom area -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="footer-copy-right text-center">
                                    <P>
                                        (28644) 충북 청주시 서원구 충대로 1, 충북대학교 전자정보대학 소프트웨어학과 S4-1동(전자정보 3관) 109호
                                    </P>
                                    <p>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                        Copyright &copy;<script>
                                            document.write(new Date().getFullYear());
                                        </script> All rights reserved | This template is made with <i
                                            class="fa fa-heart" aria-hidden="true"></i> by <a
                                            href="https://colorlib.com" target="_blank">Colorlib</a>
                                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
 <!-- Scroll Up -->
    <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->

    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>

    <!-- Jquery, Popper, Bootstrap -->

    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Jquery Mobile Menu -->

    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>-->

    <script src="{% static 'js/slick.min.js' %}"></script>

    <!-- One Page, Animated-HeadLin -->

    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/animated.headline.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->

    <script src="{% static 'js/gijgo.min.js' %}"></script>

    <!-- Video bg -->

    <script src="{% static 'js/jquery.vide.js' %}"></script>

    <!-- Nice-select, sticky -->

    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>

    <!-- Progress -->

    <script src="{% static 'js/jquery.barfiller.js' %}"></script>\

    <!-- counter , waypoint,Hover Direction -->

    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/hover-direction-snake.min.js' %}"></script>

    <!-- contact js -->

    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

    <!-- Jquery Plugins, main Jquery -->

    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>