{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
{%include 'header.html'%}
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-12 ">
                            <div class="hero__caption hero__caption2 text-center">
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">학생회 연혁</h1>
                                <p data-animation="fadeInLeft" data-delay=".8s"> 안녕하세요
                                    2021년도를 FUN하게 만들어줄
                                    제 9대 소프트웨어학과 "FUNNY" 학생회입니다. 쓸 말은 알아서 생각해서 써야지 이건 못쓴다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
            </div>
        </div>
        <!-- Slider Area End -->

        <!--? About-1 Area Start -->
        <div class="about-area1 section-padding40">
            <div class="container">
                <div class="row align-items-center justify-content-between">

                    <!--<div class="col-xl-7 col-lg-7 col-md-12 history-box">-->
                    <!--부트스트립 col-12 적용-->
                    <div class="col-12">

                        <!-- Section Tittle -->
                        <!--다음 학생회 네이밍 시 사용법-->
                        <!--해당 학생회 section 내용의 <li> content </li> 까지 복사해서 사용하면 되고-->
                        <!--li 태그 내 data-date에 해당 년도를 작성하면 됩니다.-->
                        <!--css 수정 시 asset -> style.css에 "board tile page css styling"을 ctrl+F 해서 찾아간 후-->
                        <!--수정하면 됩니다.-->
                        <div id="content">
                            <h1>소프트웨어학과 학생회 연혁</h1>

                            <ul class="timeline">
                                <li class="event" data-date="2013">
                                    <h3>스타트</h3>
                                </li>
                                <li class="event" data-date="2014">
                                    <h3>소원</h3>
                                </li>
                                <li class="event" data-date="2015">
                                    <h3>썸</h3>
                                </li>
                                <li class="event" data-date="2016">
                                    <h3>아람</h3>
                                </li>
                                <li class="event" data-date="2017">
                                    <h3>버디</h3>
                                </li>
                                <li class="event" data-date="2018">
                                    <h3>치즈</h3>
                                </li>
                                <li class="event" data-date="2019">
                                    <h3>드래그</h3>
                                </li>
                                <li class="event" data-date="2020">
                                    <h3>이룸</h3>
                                </li>
                                <li class="event" data-date="2021">
                                    <h3>퍼니</h3>
                                </li>
                                <li class="event" data-date="2022">
                                    <h3>골프</h3>
                                </li>
                                <li class="event" data-date="2023">
                                    <h3>호텔</h3>
                                </li>
                                <li class="event" data-date="2024">
                                    <h3>인디아</h3>
                                </li>
                                <li class="event" data-date="2025">
                                    <h3>줄루</h3>
                                </li>
                                <li class="event" data-date="2026">
                                    <h3>킬로</h3>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-1 Area End -->

    </main>
{%include 'footer.html'%}

</body>

</html>