{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
{% include 'header.html'%}
    <main>
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg ">
            <!-- Single Slider -->
            <div class="single-slider d-flex align-items-center slider-height2">
                <div class="container">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-8 col-lg-9 col-md-12 ">
                            <div class="hero__caption hero__caption2 text-center">
                                <h1 data-animation="fadeInLeft" data-delay=".6s ">학생회 소개</h1>
                                <p data-animation="fadeInLeft" data-delay=".8s"> 안녕하세요
                                    2021년도를 FUN하게 만들어줄
                                    제 9대 소프트웨어학과 "FUNNY" 학생회입니다. 쓸 말은 알아서 생각해서 써야지 이건 못쓴다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img class="slider-shape1" src="assets/img/hero/top-left-shape.png" alt="">
            </div>
        </div>
        <!-- Slider Area End -->

        <!--? About-1 Area Start -->
        <div class="about-area1 section-padding40">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-5 col-md-8 col-sm-10">
                        <!-- 퍼니 로고 img -->
                        <div class="about-img ">
                            <img src="{% static 'img/gallery/about1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-caption ">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-30">
                                <h2>9th 학생회 FUNNY</h2>
                                <br>
                            </div>

                            <h1>안녕하세요
                                2021년도를 FUN하게 만들어줄 제 9대
                                <br>소프트웨어학과 "FUNNY" 학생회입니다.
                            </h1>
                            <p>
                                <br><br>
                                "FUNNY" 학생회는 소프트웨어학과 학생들의 즐거운 학과 생활과 꿈을 위해 노력하는
                                <br>학생들을 도와주고자 항상 노력하고 있으며, 열린 마음으로 학생들에게 다가갈
                                <br>준비가 되어있습니다.
                                <br><br>
                                단대 통합선거를 통하여 선출된 FUNNY 학생회는 언텍트 시대에 맞게
                                <br>온라인 신입생 OT를 시작으로 영상투어, 온라인 퀴즈대회, 캐치마인드, 퍼니를 이겨라,
                                <br>야식마차 등 다양한 행사를 구상하고 있습니다. 코로나 바이러스에 대한 대책 마련과
                                <br>그에 부합한 여러 행사를 기획하여 안전하고 즐거운 학과 생활을 할 수 있도록 노력하고
                                <br>있습니다.
                                <br><br>
                                저희를 믿고 뽑아주신 만큼 여러분들을 위해 올 한해 열심히 노력해서 모두가 즐거운
                                <br>학과 생활을 할 수 있는 학생회가 될 수 있도록 하겠습니다.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-1 Area End -->
        <!--? About-2 Area Start -->
        <div class="about-area1 pb-bottom">
            <div class="container">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-caption about-caption3 mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle section-tittle2 mb-30">
                                <h2 class="member">임원 소개</h2>
                            </div>
                            <div class="comments-area intro-member">
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="{% static 'img/blog/comment_1.png'%}" alt="">
                                            </div>
                                            <div class="desc">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <h5>
                                                            <a href="#">정경창</a>
                                                        </h5>
                                                        <p class="date">회장</p>
                                                    </div>
                                                </div>
                                                <p class="comment">
                                                    <br>대외 대내적 학생대표 활동
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="{% static 'img/blog/comment_2.png' %}" alt="">
                                            </div>
                                            <div class="desc">
                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <h5>
                                                            <a href="#">이선명</a>
                                                        </h5>
                                                        <p class="date">부회장</p>
                                                    </div>
                                                </div>
                                                <p class="comment">
                                                    <br>대외 대내적 학생대표 활동, 학회장 부재시 학회장 업무 진행 총괄
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="{% static 'img/blog/comment_3.png' %}" alt="">
                                            </div>
                                            <div class="desc">

                                                <div class="d-flex justify-content-between">
                                                    <div class="d-flex align-items-center">
                                                        <h5>
                                                            <a href="#">이성규</a>
                                                        </h5>
                                                        <p class="date">충무부장</p>
                                                    </div>
                                                </div>
                                                <p class="comment">
                                                    <br>1년간 예산계획 수립, 장부 작성, 영수증 및 도안관리
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--
                            <div class="comment-list">
                                <div class="single-comment justify-content-between d-flex">
                                    <div class="user justify-content-between d-flex">
                                        <div class="thumb">
                                            <img src="assets/img/blog/comment_1.png" alt="">
                                        </div>
                                        <div class="desc">
                                            <p class="comment">
                                               대외 / 대내적 학생대표 활동
                                            </p>
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <h5>
                                                        <a href="#">정경창</a>
                                                    </h5>
                                                    <p class="date">학생회장</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                        -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!--2021-07-15이미지 자동 리사이즈 추가해야함-->
        <div class="about-area1">
            <!--img-wrapper 추가-->
            <div class="container image-wrapper" style="text-align: center;">
                <img src="{% static 'img/gallery/funny2103_2.png'%}" class="board-image" alt="">
            </div>
        </div>
        <!-- About-2 Area End -->
    </main>
{% include 'footer.html'%}
}

</body>

</html>